<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css"> 
    <title>Create User</title>
</head>
<body>
    <%- include('../layout/navbar')%>
    <h1>Signup</h1>
    <form action="/user/create" method="post" enctype="multipart/form-data">
        <label>Username:</label>
        <input type="text" name="username" />
        <br>
        <label>Password:</label>
        <input type="password" name="password" />

        <br>

        <input type="submit" value="Register"/>
    </form>
</body>
</html>